@media (max-width: 502px) {
    main {
        padding: 23px;
    }
     .card{
        margin-bottom: 20px;
    }
    .card h5 {
        margin-top: 15px;
        font-size: 15px;
    }
   
}

@media (min-width: 1100px){
     
    .grid-style {
        gap: 19px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "c1 c1 c2 c5"
            "c3 c4 c4 c5"; 
            max-width: 1110px;
            align-items: center;
        }   

   
    
    main{
        overflow: hidden;
    }
    .card{
    /* max-height: 585px; */
    }
    .card.c5 p {
        margin-top: 14px;
    }
}
