@media (max-width: 1000px) {
    header{
        padding: 0 26px;
    }
    header p{
        width: auto;
    }
    main{
        margin: auto;
        text-align: center ;
        height: auto;
    }
    main .info {
        display: block;
        gap: 0 ;
        margin-bottom: 36px;
    }
    main .info .left img {
        width: 100%;
    }
    footer {
        position: relative;
        top: auto;
        right: auto;
        display: inline-flex;
    }
}

@media (min-width: 1001px){
  
   
}
